<template>
    <div>
        <date-picker v-model="time2"  range :shortcuts="shortcuts"  lang="en" confirm></date-picker>

        <datatable v-bind="$data" :Pagination="false" :header-settings="false"/>
    </div>
</template>

<script>
    import axios from 'axios';
    import DatePicker from 'vue2-datepicker'
    import moment from 'moment';
    export default{
        data(){
            return{
                columns: [
                    { title: 'ID', field: 'id', label:'ID',sortable: true},
                    { title: 'Name', field: 'name' },
                    { title: 'Number Of entry', field: 'number_of_entries', sortable: true },
                    { title: 'completed', field: 'completed' },
                    { title: 'Incomplete/Error', field: 'incomplete_error' },
                    { title: 'Uploaded', field: 'createdAt' }
                ],
                data: [
                ],
                total: 0,
                query: {order: 'asc', sort:'id'},
                time2: '',
                shortcuts: [
                    {
                        text: 'Today',
                        start: new Date(),
                        end: new Date()
                    }
                ]

            }
        },
        created(){
        },
        watch: {
            query: {
                handler (val) {
                    this.getData(val);
                },
                deep: true
            },
            time2:function (val) {

                let params = {
                    from:moment(val[0],'YYYY-MM-DD HH:mm Z').format('YYYY-MM-DD'),
                    to:moment(val[1],'YYYY-MM-DD HH:mm Z').format('YYYY-MM-DD')
                }
                this.getData(params);
            }
        },
        methods:{

            getData(params){

                axios.get('http://localhost:4000/api/v1/get-batch',{params:params}).then(response=>{
                    this.data = response.data;
                });
            }
        },
        components:{
            datePicker:DatePicker
        }
    }
</script>
