<template>
    <div>
        <datatable v-bind="$data" :Pagination="false" :header-settings="false" />

    </div>
</template>

<script>
    import axios from 'axios';
    import tdImage from './td-image.vue'

    export default{
        data(){
            return{
                columns: [
                    { title: 'User ID', field: 'id', sortable: true },
                    { title: 'name', field: 'name' },
                    { title: 'email', field: 'email', sortable: true },
                    { title: 'phone', field: 'phone' },
                    { title: 'image_link', field: 'image_link',tdComp:tdImage, },
                    { title: 'title', field: 'title' , visible: 'true'}
                ],
                data: [],
                total: 0,
                query: {order: 'asc', sort:'id'}
            }
        },
        watch: {
            query: {
                handler (val) {
                    this.getData(val);
                },
                deep: true
            }
        },
        created(){

        },
        methods:{

            getData(params){
                axios.get('http://localhost:4000/api/v1/get-users',{params:params}).then(response=>{
                    this.data = response.data;
                });
            }
        },
        components:{
            tdImage:tdImage
        }
    }
</script>
