<template>
    <img class="imageWidth" :src="value"/>

</template>
<script>
    export default {
        props: ['value', 'xprops'],

        mounted () {


        },
        computed: {

        },
        methods: {

        }
    }
</script>
<style>

    .imageWidth {
        width: 150px;
    }
</style>