<template>
    <div>
        <h1>Upload</h1>
        <vue-dropzone id="foo" ref="el" :options="dropzoneOptions" :destroyDropzone="true"></vue-dropzone>
    </div>
</template>

<script>
    import vue2Dropzone from 'vue2-dropzone'
    import 'vue2-dropzone/dist/vue2Dropzone.css'
    import axios from 'axios';
    export default {
        data() {
            return {
                items: [],
                dropzoneOptions: {
                    url: 'http://localhost:4000/api/v1/upload',
                    method:'post',

                    headers: {"My-Awesome-Header": "header value"},
                    accept: function(file, done) {
                       console.log(file.type);
                        if (file.type != "application/vnd.ms-excel" && file.type != "text/csv") {
                            done("Error! Files of this type are not accepted");
                        }
                        else { done(); }
                    }
                }
            }
        },

        created() {
//            axios.get(this.$root.serverLink+'/api/v1/test').then(response => {
//                console.log(response);
//            });
        },
        events: {
            'vdropzone-success': function (file) {
                console.log('A file was successfully uploaded' + file);
            }
        },
        methods: {


        },
        components: {
            vueDropzone: vue2Dropzone
        },
    }
</script>
