<template>
    <div>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">{{$root.siteName}}</a>
                </div>
                <ul class="nav navbar-nav">
                    <li v-for="m in menu"> <router-link :to="m.link">{{m.name}}</router-link></li>

                </ul>
            </div>
        </nav>
    </div>
</template>

<script>
    export default{
        name:'Navigation',
        data(){
            return{
                menu:[
                    {
                        name:'Upload',
                        link:'/'
                    },
                    {
                        name:'Batches',
                        link:'/batch-preview'
                    },
                    {
                        name:'Data',
                        link:'/data-preview'
                    }
                ]
            }
        },
    }
</script>
