<template>
    <div>
        <navigation></navigation>
        <div class="container">
            <div>
                    <router-view></router-view>
            </div>
        </div>
    </div>
</template>


<script>
    import nav from './partials/navigation.vue'

    export default {
        data(){
            return{
                siteName:'JustCleanTest',
                serverLink:'http://localhost:4000'
            }
        },
        components: {
            navigation: nav
        }
    }
</script>
